@use "../abstracts";

.header {
  height: 10vh;
  max-width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: abstracts.$header--background;

  &__logo-box {
    width: 16rem;
  }
}

.nav {
  font-size: abstracts.$font-large;
  width: 30rem;
  display: flex;
  // gap: 2rem;
  justify-content: space-between;
}
