@use "../abstracts";
// LINE POP-UP
.pop-up {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;

  color: white;
  background-color: #06c755;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  z-index: 3;
}

.close-pop-up,
.gallery-close-btn {
  color: abstracts.$color--dark-grey;
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: abstracts.$font-medium;
  transform: translate(-50%);
  cursor: pointer;
  border: none;
  background: none;
  z-index: 10;
}

.border-line {
  display: block;
  // border: #333 1px solid;
  padding: 2px 4px;
}
